{% extends "base.html" %}

{% block content %}

<iframe width="1024" height="512" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?viz=GVIZ&amp;t=MAP&amp;gco_region=world&amp;gco_dataMode=regions&amp;containerId=gviz_canvas&amp;q=select+gvizcountry(col1)%2C+col95%2C+col1+from+10oHmny2lGGqYrNqLQXGH_vdD1yC2U15vz2ps1gA&amp;qrs=+where+gvizcountry(col1)+%3E%3D+&amp;qre=+and+gvizcountry(col1)+%3C%3D+&amp;qe=+limit+192&amp;att=true&amp;width=1024&amp;height=497"></iframe>

<a href="https://www.google.com/fusiontables/DataSource?snapid=S690422ePMv">View data in FusionTables</a> 
{% endblock content %}

{% block scripts %}
<script type="text/javascript">
// Nothing here yet.
</script>
{% endblock scripts %}
